.card-grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; 
  padding: 20px;
  background-color: #f9f9f9;
}

.card-grid-container h4 {
  color: #007bff;
  margin-bottom: 15px;
  cursor: pointer;
  transition: color 0.3s;
}

.card-grid-container > div {
  width: 100%;
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap; 
  gap: 10px; 
}

.card-grid-container p {
  color: #666;
  text-align: center;
}

.movie-card {
  max-width: calc(20% - 10px); 
  box-sizing: border-box; 
}

